# To generate requirements.txt install pip-tools and run::
#
#   pip-compile --output-file requirements.txt requirements.in
#

Scrapy==1.1.1

# scrapinghub glue
scrapinghub-entrypoint-scrapy

# scrapy plugins
scrapylib
scrapy-splash
scrapy-crawlera
scrapy-dotpersistence
scrapy-pagestorage

# required by Monkeylearn addon
monkeylearn
# required by Monitoring addon egg
six
Jinja2
slackclient
# required by Images addon
boto
