# To generate requirements.txt install pip-tools and run::
#
#   pip-compile --output-file requirements.txt requirements.in
#

Scrapy==1.7.3

# scrapinghub glue
scrapinghub-entrypoint-scrapy

# official python client
scrapinghub==2.2.1

# scrapy plugins
scrapylib
scrapy-splash
scrapy-crawlera
scrapy-deltafetch
scrapy-dotpersistence
scrapy-pagestorage

# required by Monitoring addon
spidermon[monitoring,validation]

# required by Monkeylearn addon
monkeylearn
# required by Images addon
boto
pillow>=5.1.0

# Requirements due to known bugs in dependencies
Twisted >= 17.1.0

# address known vulnerabilities
awscli>=1.16.179    # fix pyaml dependency
Twisted>=19.2.1     # CVE-2019-12387
urllib3>=1.24.2     # CVE-2019-11324
Jinja2>=2.10.1      # CVE-2019-10906
requests>=2.20.0    # CVE-2018-18074
pyyaml>=4.2b1       # CVE-2017-18342
