# To generate requirements.txt install pip-tools and run::
#
#   pip-compile --output-file requirements.txt requirements.in
#

Scrapy==2.4.1

# scrapinghub glue
scrapinghub-entrypoint-scrapy

# official python client
scrapinghub==2.3.1

# scrapy plugins
scrapy-splash
scrapy-crawlera
scrapy-deltafetch
scrapy-dotpersistence
scrapy-magicfields
scrapy-pagestorage
scrapy-querycleaner
scrapy-splitvariants

# required by Monitoring addon
spidermon[monitoring,validation]
# required by Monkeylearn addon
monkeylearn
# required by Images addon
boto
# pre-install boto3 compatible with botocore
boto3

# address known vulnerabilities
aiohttp>=3.7.4      # CVE-2021-21330
awscli>=1.19.0      # fix pyyaml dependency
cryptography>=3.3.2 # CVE-2020-36242
Jinja2>=2.11.3      # CVE-2020-28493
lxml>=4.6.3         # CVE-2021-28957
pillow>=8.1.2       # GHSA-jgpv-4h4c-xhw3
pyyaml>=5.4         # CVE-2020-14343
requests>=2.20.0    # CVE-2018-18074
Twisted>=19.2.1     # CVE-2019-12387
urllib3>=1.26.4     # CVE-2021-28363
